<style>
.card {
        width: 100%;
      }
</style>

<div class="table-responsive">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title" style="text-decoration: underline;">Ticket ID</h5>
          <p class = "text-muted"><%=@ticket.id%></p>
        </div>
      </div>

      <div class="card" >
        <div class="card-body">
          <h5 style="text-decoration: underline;">Ticket Title</h5>
          <p class = "text-muted"><%=@ticket.title%></p>
        </div>
      </div>

      <div class="card" >
        <div class="card-body">
      <h5 style="text-decoration: underline;">Ticket Details</h5>
      <p class = "text-muted"><%=@ticket.details%></p>
        </div>
      </div>

      <div class="card" >
        <div class="card-body">
      <h5 style="text-decoration: underline;">Ticket Owner</h5>
      <p class = "text-muted"><%="@ticket.owner found using sessions"%></p>
        </div>
      </div>

      <div class="card" >
        <div class="card-body">      
          <h5 style="text-decoration: underline;">Created At</h5>
          <p class = "text-muted"><%=@ticket.created_at%></p>
        </div>
      </div>

      <div class="card" >
        <div class="card-body">
          <h5 style="text-decoration: underline;">Updated At</h5>
          <p class = "text-muted"><%=@ticket.updated_at%></p>
        </div>
      </div>

        <div class="card" >
          <div class="card-body">
            <h5 style="text-decoration: underline;">Update</h5>
            <a class="btn btn-primary" href="/tickets/<%=@ticket.id%>/edit" role="button">Update</a>
          </div>
        </div>
        
          <div class="card" >
            <div class="card-body">
            <h5 style="text-decoration: underline;">Delete</h5>
            <form method="POST" action = "/tickets/<%=@ticket.id%>">
            <input type="hidden" value="DELETE" name="_method">
            <input class="btn btn-danger" type="submit" name = "" value = "Delete">
          </form>
          </div>
        </div>
      
 </div>